In [2]:
import pandas as pd

### Technical historical dataset
From 2016-09-02 To 2021-09-02

In [3]:
technical_data = pd.read_csv('technical_features_data.csv')
technical_data.tail()

,date,open,high,low,close,adjClose,volume,unadjustedVolume,change,changePercent,vwap,label,changeOverTime,UpperBB,LowerBB,volatility,rsi,macd
1822,2021-08-29,48911.250000,49644.113281,47925.855469,48829.832031,48829.832031,2.588965e+10,2.588965e+10,-81.41797,-0.166,48799.93359,"August 29, 21",-0.00166,53996.130503,28047.641373,1645.660840,60.474282,2057.908289
1823,2021-08-30,48834.851563,48925.605469,46950.273438,47054.984375,47054.984375,3.184701e+10,3.184701e+10,-1779.86719,-3.645,47643.62109,"August 30, 21",-0.03645,54211.850902,28344.512848,1583.112611,53.848934,1828.911828
1824,2021-08-31,47024.339844,48189.550781,46750.093750,47166.687500,47166.687500,3.473036e+10,3.473036e+10,142.34766,0.303,47368.77734,"August 31, 21",0.00303,54380.425623,28736.371721,1332.427984,54.189103,1637.567137
1825,2021-09-01,47099.773438,49111.089844,46562.437500,48847.027344,48847.027344,3.913940e+10,3.913940e+10,1747.25391,3.710,48173.51823,"September 01, 21",0.03710,54605.786219,29156.811203,980.043228,59.075752,1603.035676
1826,2021-09-02,48840.414063,49817.667969,48767.839844,49598.503906,49598.503906,3.908957e+10,3.908957e+10,758.08984,1.552,49394.67057,"September 02, 21",0.01552,54850.728295,29582.915377,909.622739,61.075470,1617.659747

### Twitter sentiment dataset 
From 2018-01-01 To 2021-09-05

In [4]:
! pwd

/home/omar/code/omarbelhaj99/cryptocurrency_trading/notebooks

In [10]:
twitter_data = pd.read_csv('../cryptocurrency_trading/data/twitter_sentiment_count_final.csv')

In [14]:
twitter_data = twitter_data.drop(columns = 'Unnamed: 0')

In [15]:
twitter_data.head()

        start  tweet_count  sentimentscore
0  2018-01-01        90414        4.087525
1  2018-01-02       125905        4.721295
2  2018-01-03       134825        6.096648
3  2018-01-04       126106        4.738479
4  2018-01-05       115883        5.809624

In [16]:
twitter_data.tail()

           start  tweet_count  sentimentscore
1295  2021-09-01       287533        1.320321
1296  2021-09-02       343047        7.162905
1297  2021-09-03       361200        3.201969
1298  2021-09-04       281577        1.085611
1299  2021-09-05       268859        1.414339

### Reddit sentiment dataset 
From 2018-01-01 To 2021-08-31

In [17]:
reddit_data = pd.read_csv('../cryptocurrency_trading/data/final_reddit_data.csv')

In [20]:
reddit_data = reddit_data.drop(columns='Unnamed: 0')

In [21]:
reddit_data.head()

         date  real_score  post_per_day
0  2018-01-01    0.191187           464
1  2018-01-02    0.476037           594
2  2018-01-03    0.689065           620
3  2018-01-04   -0.144155           629
4  2018-01-05    0.197948           686

In [22]:
reddit_data.tail()

            date  real_score  post_per_day
1236  2021-08-27    0.472290           269
1237  2021-08-28    0.417047           219
1238  2021-08-29    0.835773           199
1239  2021-08-30    0.722232           232
1240  2021-08-31    0.628596           259

### Merging the three datasets

In [23]:
final_data = pd.merge(twitter_data,technical_data, how = 'left', left_on = 'start', right_on = 'date')
final_data.head()

,start,tweet_count,sentimentscore,date,open,high,low,close,adjClose,volume,...,change,changePercent,vwap,label,changeOverTime,UpperBB,LowerBB,volatility,rsi,macd
0,2018-01-01,90414,4.087525,2018-01-01,14112.200195,14112.200195,13154.700195,13657.200195,13657.200195,1.029120e+10,...,-455.00000,-3.224,13641.36686,"January 01, 18",-0.03224,20532.876074,5012.581523,1290.493390,46.256417,95.011453
1,2018-01-02,125905,4.721295,2018-01-02,13625.000000,15444.599609,13163.599609,14982.099609,14982.099609,1.684660e+10,...,1357.09961,9.960,14530.09961,"January 02, 18",0.09960,20514.236225,5368.125747,1018.066882,51.765003,112.782434
2,2018-01-03,134825,6.096648,2018-01-03,14978.200195,15572.799805,14844.500000,15201.000000,15201.000000,1.687190e+10,...,222.79981,1.487,15206.09994,"January 03, 18",0.01487,20488.303236,5736.668737,883.368621,52.628926,142.882437
3,2018-01-04,126106,4.738479,2018-01-04,15270.700195,15739.700195,14522.200195,15599.200195,15599.200195,2.178320e+10,...,328.50000,2.151,15287.03353,"January 04, 18",0.02151,20492.881190,6063.437189,864.964200,54.234716,196.602028
4,2018-01-05,115883,5.809624,2018-01-05,15477.200195,17705.199219,15202.799805,17429.500000,17429.500000,2.384090e+10,...,1952.29981,12.614,16779.16634,"January 05, 18",0.12614,20605.405339,6333.225442,1103.623175,60.810539,382.456370

In [24]:
final_data = final_data.drop(columns = 'label')

In [25]:
final_data.head()

,start,tweet_count,sentimentscore,date,open,high,low,close,adjClose,volume,unadjustedVolume,change,changePercent,vwap,changeOverTime,UpperBB,LowerBB,volatility,rsi,macd
0,2018-01-01,90414,4.087525,2018-01-01,14112.200195,14112.200195,13154.700195,13657.200195,13657.200195,1.029120e+10,1.029120e+10,-455.00000,-3.224,13641.36686,-0.03224,20532.876074,5012.581523,1290.493390,46.256417,95.011453
1,2018-01-02,125905,4.721295,2018-01-02,13625.000000,15444.599609,13163.599609,14982.099609,14982.099609,1.684660e+10,1.684660e+10,1357.09961,9.960,14530.09961,0.09960,20514.236225,5368.125747,1018.066882,51.765003,112.782434
2,2018-01-03,134825,6.096648,2018-01-03,14978.200195,15572.799805,14844.500000,15201.000000,15201.000000,1.687190e+10,1.687190e+10,222.79981,1.487,15206.09994,0.01487,20488.303236,5736.668737,883.368621,52.628926,142.882437
3,2018-01-04,126106,4.738479,2018-01-04,15270.700195,15739.700195,14522.200195,15599.200195,15599.200195,2.178320e+10,2.178320e+10,328.50000,2.151,15287.03353,0.02151,20492.881190,6063.437189,864.964200,54.234716,196.602028
4,2018-01-05,115883,5.809624,2018-01-05,15477.200195,17705.199219,15202.799805,17429.500000,17429.500000,2.384090e+10,2.384090e+10,1952.29981,12.614,16779.16634,0.12614,20605.405339,6333.225442,1103.623175,60.810539,382.456370

In [26]:
final_data = pd.merge(final_data,reddit_data, how = 'left', left_on = 'start', right_on = 'date')

In [30]:
final_data = final_data.drop(columns = ['date_x','date_y'])

In [31]:
final_data.head()

,start,tweet_count,sentimentscore,open,high,low,close,adjClose,volume,unadjustedVolume,...,changePercent,vwap,changeOverTime,UpperBB,LowerBB,volatility,rsi,macd,real_score,post_per_day
0,2018-01-01,90414,4.087525,14112.200195,14112.200195,13154.700195,13657.200195,13657.200195,1.029120e+10,1.029120e+10,...,-3.224,13641.36686,-0.03224,20532.876074,5012.581523,1290.493390,46.256417,95.011453,0.191187,464.0
1,2018-01-02,125905,4.721295,13625.000000,15444.599609,13163.599609,14982.099609,14982.099609,1.684660e+10,1.684660e+10,...,9.960,14530.09961,0.09960,20514.236225,5368.125747,1018.066882,51.765003,112.782434,0.476037,594.0
2,2018-01-03,134825,6.096648,14978.200195,15572.799805,14844.500000,15201.000000,15201.000000,1.687190e+10,1.687190e+10,...,1.487,15206.09994,0.01487,20488.303236,5736.668737,883.368621,52.628926,142.882437,0.689065,620.0
3,2018-01-04,126106,4.738479,15270.700195,15739.700195,14522.200195,15599.200195,15599.200195,2.178320e+10,2.178320e+10,...,2.151,15287.03353,0.02151,20492.881190,6063.437189,864.964200,54.234716,196.602028,-0.144155,629.0
4,2018-01-05,115883,5.809624,15477.200195,17705.199219,15202.799805,17429.500000,17429.500000,2.384090e+10,2.384090e+10,...,12.614,16779.16634,0.12614,20605.405339,6333.225442,1103.623175,60.810539,382.456370,0.197948,686.0

In [32]:
final_data.tail()

,start,tweet_count,sentimentscore,open,high,low,close,adjClose,volume,unadjustedVolume,...,changePercent,vwap,changeOverTime,UpperBB,LowerBB,volatility,rsi,macd,real_score,post_per_day
1295,2021-09-01,287533,1.320321,47099.773438,49111.089844,46562.437500,48847.027344,48847.027344,3.913940e+10,3.913940e+10,...,3.710,48173.51823,0.03710,54605.786219,29156.811203,980.043228,59.075752,1603.035676,NaN,NaN
1296,2021-09-02,343047,7.162905,48840.414063,49817.667969,48767.839844,49598.503906,49598.503906,3.908957e+10,3.908957e+10,...,1.552,49394.67057,0.01552,54850.728295,29582.915377,909.622739,61.075470,1617.659747,NaN,NaN
1297,2021-09-03,361200,3.201969,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1298,2021-09-04,281577,1.085611,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1299,2021-09-05,268859,1.414339,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [33]:
final_data.to_csv('final_data_from_2018_01_01_to_2021_08_31.csv')